<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>main</title>
</head>
<body>

	<h1 align="center">GREEDY EMPLYEE 사원 관리</h1>

	<button onclick="location.href='/menu/200'">200번 사원 목록 보기</button>
	<button onclick="location.href='/menu/list'">사원 전체 목록 보기</button>

	<button onclick="location.href='/menu/querymethod'">쿼리 메소드 테스트 하기</button>
	<button onclick="location.href='/menu/regist'">사원 추가하기</button>
	<button onclick="location.href='/menu/modify'">사원 수정하기</button>
	<button onclick="location.href='/menu/delete'">사원 정보 삭제하기</button>
	
</body>
</html>